body {
  background: #9c9c9c;
  font-size: 18px;
}

#etude {
  display: grid;
  grid-template-columns: 160px 256px 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
}

#side-flex-area {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.app-background {
  height: 100vh;
  width: 100vw;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-size {
  width: 6in;
  height: 4in;
  outline: none;
  margin: 0;
  font-size: 1.3em;
  padding: 0 1pc;
}

#editor {
  display: grid;
  grid-template-areas: 'header' 'toggle' 'editor';
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.card-list-item:hover .card-list-item-action {
  display: flex;
}

#preview-box {
  width: 6in;
  height: 4in;
}

#preview-box p {
  margin: 0;
}

@media (min-width: 600px) and (min-height: 300px) {
  #the-card {
    zoom: .5;
  }
}

@media (min-width: 800px) and (min-height: 400px) {
  #the-card {
    zoom: .75;
  }
}

@media (min-width: 1000px) and (min-height: 500px) {
  #the-card {
    zoom: 1;
  }
}

@media (min-width: 1200px) and (min-height: 600px) {
  #the-card {
    zoom: 1.1;
  }
}

@media (min-width: 1300px) and (min-height: 700px) {
  #the-card {
    zoom: 1.2;
  }
}

@media (min-width: 1400px) and (min-height: 800px) {
  #the-card {
    zoom: 1.3;
  }
}

@media (min-width: 1500px) and (min-height: 900px) {
  #the-card {
    zoom: 1.4;
  }
}

@media (min-width: 1600px) and (min-height: 1000px) {
  #the-card {
    zoom: 1.5;
  }
}

#card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.card-editor {
  cursor: text;
}

[contenteditable] {
  outline: none;
  display: inline-block;
  font-size: 1.3em;
  min-height: 1rem;
  min-width: 100%;
}

.card {
  background: white;
  border: 1px solid #6e6e6e;
  box-shadow: 0px 0px 5px 0px #4d4d4d;
  font-size: 14pt;
  padding: 1pc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  height: 100%;
}

textarea {
  width: 100%;
  border: 0px solid white;
  overflow-y: hidden;
  text-align: center;
  resize: none;
  outline: 0px solid white !important;
}

.math-inline, .math-block {
  font-family: 'KaTeX_Main';
}

.z--1 {
  z-index: -1;
}