body {
  background: #9c9c9c;
  font-size: 18px;
}

#etude {
  display: grid;
  grid-template-columns: 175px 300px 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

#sidebar {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
}

#side-flex-area {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.app-background {
  height: 100vh;
  width: 100vw;
}

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-size {
  outline: none;
  margin: 0;
  font-size: 1.3em;
  padding: 0 1pc;
}

#editor {
  display: grid;
  grid-template-areas: 'header' 'toggle' 'editor';
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 1fr;
}

.card-list-item:hover .card-list-item-action {
  display: flex;
}



#card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

@media screen and (min-width: calc(12in + 475px)) {
  #card-grid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.card-editor {
  cursor: text;
}

[contenteditable] {
  outline: none;
  display: inline-block;
  font-size: 1.3em;
  min-height: 1rem;
  min-width: 100%;
}

.card {
  width: 6in;
  height: 4in;
  background: white;
  border-radius: 4px;
  border: 1px solid #6e6e6e;
  box-shadow: 0px 0px 5px 0px #4d4d4d;
  font-size: 14pt;
  padding: 1pc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  height: 100%;
}

textarea {
  width: 100%;
  border: 0px solid white;
  overflow-y: hidden;
  text-align: center;
  resize: none;
  outline: 0px solid white !important;
}

.math-inline, .math-block {
  font-family: 'KaTeX_Main';
}

.z--1 {
  z-index: -1;
}